<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension point="org.eclipse.ui.popupMenus">
      
      <objectContribution
            id="PluginCopyTest.contribution1"
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true">
            
         <menu id="PluginCopyTest.menu1"
               label="TDD Criteria"
               path="additions">
            
            <separator name="group1"> </separator>
         
         </menu>
         
         <action class="net.bhpachulski.tddcriteriaserver.manu.dropdown.RefactorAction"
               enablesFor="1"
               id="PluginCopyTest.refactorAction"
               icon="icons/refactor.png"
               label="Refactor"
               menubarPath="PluginCopyTest.menu1/group1">
         </action>
         
         <action class="net.bhpachulski.tddcriteriaserver.manu.dropdown.GreenAction"
               enablesFor="1"
               id="PluginCopyTest.greenAction"
               icon="icons/green.png"
               label="Green"
               menubarPath="PluginCopyTest.menu1/group1">
         </action>
         
         <action class="net.bhpachulski.tddcriteriaserver.manu.dropdown.RedAction"
               enablesFor="1"
               id="PluginCopyTest.redAction"
               icon="icons/red.png"
               label="Red"
               menubarPath="PluginCopyTest.menu1/group1">
         </action>
         
      </objectContribution>
      
   </extension>
   
	<extension point="org.eclipse.jdt.junit.testRunListeners">
		<testRunListener class="net.bhpachulski.tddcriteriaserver.extensionpoint.JUnitReportTestRunListener"/>
	</extension>
 <extension
       point="org.eclipse.ui.actionSets">gl
       
    <actionSet
          id="PluginCopyTest.actionSet"
          label="TDDCriteria Menu"
          visible="true">
       <menu
             id="sampleMenu"
             label="TDDCriteria Menu">
          <separator
                name="TDDCriteriaGroup">
          </separator>
       </menu>
       
       <action
             class="net.bhpachulski.tddcriteriaserver.manu.toolbar.RefactorToolAction"
             icon="icons/refactor.png"
             id="plugincopytest.actions.SampleAction1"
             label="&amp;Refactor"
             menubarPath="sampleMenu/TDDCriteriaGroup"
             toolbarPath="TDDCriteriaGroup"
             tooltip="Refactor (Etapa de Refatoração)">
       </action>
       
       <action
             class="net.bhpachulski.tddcriteriaserver.manu.toolbar.GreenToolAction"
             icon="icons/green.png"
             id="plugincopytest.actions.SampleAction1"
             label="&amp;GREEN"
             menubarPath="sampleMenu/TDDCriteriaGroup"
             toolbarPath="TDDCriteriaGroup"
             tooltip="Green (Etapa Verde)">
       </action>
       
       <action
             class="net.bhpachulski.tddcriteriaserver.manu.toolbar.RedToolAction"
             icon="icons/red.png"
             id="plugincopytest.actions.SampleAction1"
             label="&amp;RED"
             menubarPath="sampleMenu/TDDCriteriaGroup"
             toolbarPath="TDDCriteriaGroup"
             tooltip="RED (Etapa Vermelha)">
       </action>
              
    </actionSet>
 </extension>
   
</plugin>
